<div class="container-fluid">
  <div class="row update-submit-section padding">
    <div class="submit-section-input-group">
      <%= link_to 'GET EARLY ACCESS', 'https://goo.gl/forms/WIwXt0yvRr3hjJo92', class: 'btn btn-outline-light btn-outline btn-outline-theme btn-lg uppercase', target: :_blank, rel: 'nofollow' %>
    </div>
  </div>
</div>


<footer>
  <div class="container padded-top">
    <div class="row padded-above">
      <div class="col">
        <% link_to 'https://github.com/AtomicLoans', target: :_blank, rel: 'nofollow' do %>
          <i class="fab fa-3x fa-github"></i>
        <% end %>
        <% link_to 'https://medium.com/atomic-loans', target: :_blank, rel: 'nofollow' do %>
          <i class="fab fa-3x fa-medium"></i>
        <% end %>
        <% link_to 'https://twitter.com/Atomic_Loans', target: :_blank, rel: 'nofollow' do %>
          <i class="fab fa-3x fa-twitter"></i>
        <% end %>
        <% link_to 'https://web.telegram.org/#/im?p=@atomic_loans', target: :_blank, rel: 'nofollow' do %>
          <i class="fab fa-3x fa-telegram"></i>
        <% end %>
      </div>
      <div class="col-md-2">
        <h6><%= link_to 'Paper', 'https://arxiv.org/abs/1901.05117', target: :_blank %></h6>
        <!-- <h6>Community</h6> -->
        <h6><%= link_to 'Community', 'https://web.telegram.org/#/im?p=@atomic_loans', target: :_blank, rel: 'nofollow' %></h6>

        <h6><%= link_to 'Blog', 'https://atomicloans.io/blog/', target: :_blank, rel: 'nofollow' %></h6>
        <h6><%= link_to 'Contact Us', 'mailto:info@atomicloans.io' %></h6>
      </div>
    </div>
    <div class="row">
      <!-- <p>2018 &#169; Atomic Loans, a ConsenSys Formation</p> -->
    </div>
  </div>
</footer>
