<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container navbar-container">
    <% link_to '/', class: 'navbar-brand' do %>
      Atomic<span class="theme">Loans</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= nav_active('about') %>">
          <%= link_to 'Project', '/wip/', class: 'nav-link' %>
        </li>
        <li class="nav-item <%= nav_active('faq') %>">
          <%= link_to 'Paper', 'https://arxiv.org/abs/1901.05117', class: 'nav-link', target: :_blank %>
        </li>
        <li class="nav-item">
          <%= link_to 'Blog', 'https://medium.com/atomic-loans', class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>